<header>
<nav>
<ul class="nav nav-tabs"> 
  <li class="nav-item">
   <%= link_to 'Friend App', root_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to 'About', home_about_path , class: "nav-link" %>
  </li>
  <li class="nav-item">
   <%= link_to 'Friends', friends_path , class: "nav-link" %>
  </li>

</ul>
</nav>
</header>